RewriteEngine on
RewriteRule "^product-([a-zA-Z0-9]+).html$" "index.php?controller=product&action=$1"
RewriteRule "^product-([0-9]+)-([a-zA-Z0-9]+).html$" "index.php?id=$1&controller=product&action=$2"