*{margin: 0; padding: 0;}



body,html {
	width: 100%;
	height: 100%;
}

.home {
	width: 90%;
	height: 100%;
	background-color: white;
	font-family: segoe ui;
}

.home .menu {
	background: black;
}

.home .menu .left {
	color: white;
	padding-top: 15px;
	padding-left: 6%;
}

.home .menu .right {
	padding-top: 15px;
}

.home .menu .right a {
	color: white;
	font-size: 11px;
	padding-right: 10px;
}

/*end menu*/
.col-sm-12.adv {
	width: 95%;
	height: 50px;
	margin-left: 2.5%;
}

.adv img {
	width: 100%;
	height: 100%;
}

/*end adv*/

.home .secondMenu {
	width: 95%;
	padding-top: 30px;
}

.home .secondMenu .search {
	display: flex;
	padding-top: 10px;
	/*padding-left: 15%;*/
	font-size: 30px;
}


.secondMenu .iconSearch {
    background: black;
    width: 70px;
} 

i.fa.fa-search {
    padding-left: 20px;
    padding-top: 10px;
    color: white;
    font-size: 30px;
}

.secondMenu .contact .text {
	font-weight: bold;
	font-size: 10px;
	color: black;
}

.secondMenu .contact .number {
	font-size: 20px;
	font-weight:bold;
	color: black;
}

input#search {
    border: 1px solid #656161;
    font-size: 15px;
    width: 65%;
    color: black;
}

/*end secondMenu*/



.bannermenu a._1select {
    color: black;
    font-weight: bold;
}

.bannermenu .navigator {
	padding-left: 10%;
}

/*end bannerMenu*/

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

 /*end banner*/

.Action img {
	width: 100%;
	height: 100%;
}

/*end  action*/

.displayproduct .menu {
	background-color: black;
	color: white;
}
.displayproduct .menu .right {
	display: flex;
	padding-left: 25%;
	padding-top: 10px;
}

.displayproduct .menu .right p.clicked {
 	background-color: white;
 	color: black;
}

.displayproduct .menu .right p {
 padding-left: 20px;
}

.displayproduct .menu .left {
	display: flex;
}

.displayproduct .menu .left p {
	padding-left: 10%;
}

.displayproduct .item .bottom {
	padding-left: 27%;
}

.displayproduct .item .bottom .button {
	background-color: #ff5b8f;
}

/*end displayproduct*/
.onsaleinfo {
	display: flex;
	padding-top: 50px;
}
.onsaleinfo .productsale .timesale {
	display: flex;
}

.onsaleinfo .productsale .timesale .display-time {
	width: 40px;
	height: 40px;
	background-color: #ff5b8f;
	color: white;
	padding-right: 10px;
}

.onsaleinfo .productsale .itemsale {
	display: flex;
}

.onsaleinfo .productsale .itemsale ._1item .bottom {
	padding-left: 50%;
}

.onsaleinfo .productsale .category {
	padding-top: 50px;
}

.onsaleinfo .productsale .category p.under{
	width: 100px;
	height: 10px;
	background-color: #ff5b8f;
	margin-left: 37%;
}

.onsaleinfo .productsale .category .text{
	padding-left: 25%;
	font-size: 30px;
	font-weight: bold;
}